@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-image: linear-gradient(to bottom, rgb(249, 243, 127), rgb(255, 153, 0));
    color: white;
    text-align: center;
   
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 8vw;
}

header > p{
  padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: rgb(245, 107, 64);
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2.5vw;
}

section > p{
    padding-bottom: 2em;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    box-shadow: inset 6px 13px 0px rgba(0, 0, 0, 0.068);
    background-attachment: fixed;
}

.imagem p{
    background-color: rgba(0, 0, 0, 0.232);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
}

#img02{
    background-image: url(../imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}